@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
/* Header Style */
header, main{
    background: #FFF;
    padding: 50px 135px;
}
.nav_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_1 img{
    margin-right: 16px;
}
.section-title{
    font-size: 2.25rem;
    font-weight: 800;
    color:  #131318;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
display: flex;
gap: 30px;
}
nav li{
    list-style: none;
font-weight: 400;
font-size: 1.18rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
 .banner-container{
    /* max-width: 1170px; */
    text-align: center;
    margin: 0 auto;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding: 280px 106px;
}
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    
}
.text-light-gray{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
} 
/* .text-width{
    width: 500px;
} */
.outer {
    width:100%;
    display: flex;
    justify-content: center;
  }
.banner-search-bar{
display: flex;
gap: 15px;
padding: 16px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: fit-content;
}

  form{
    display: flex;
    gap: 15px;
  }
 input, select{
    color: rgba(19, 19, 24, 0.50);
    /* margin-right: 15px; */
    padding: 16px 15px;
    font-size: 1rem;
 font-weight: 400;
 width: 30%;
}
.btn-primary{
    border-radius: 8px;
background: #FF5400;
    font-size: 1rem;
 font-weight: 700;
padding: 16px 20px;
color: #FFF;
cursor: pointer;
border: none;
width: 25%;
}   

/* main starts */
/* main{
    /* max-width: 1440px; }*/
   

.popular{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin: 100px auto;
}
.popular-title, .destination-title{
    color: #131318;
    font-size: 2.8rem;
    font-weight: 800;}

    .popular-img img{
        height: 60%;
        width: 100%; } 

   
              /* Destination Starts */
              .destination{
                margin-bottom: 300px;
              }
    .destination-container{
        text-align: center;
        margin-bottom: 20px;
    }
   

.destination-gallary{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
     grid-auto-rows: 120px;
    height: 500px;
   
}
.destination-gallary .box{
    display: flex;
    justify-content: center; align-items: center;  border-radius: 16px;   
    font-size: 2rem;  height: 280px; background-size: cover;
    
}
.box-1{
    grid-column: 1 / 7;
    background-image: url('Images/Rectangle\ 5.png');
    
}
.box-2{
    grid-column: 7 / -1;
    background-image: url('Images/Rectangle\ 8.png');
   
}
.box-3{
    grid-column: 1 / 4 ;
    background-image: url('Images/Rectangle\ 6.png');
}
 .box-4 {
    grid-column: 4 / 10;
    background-image: url('Images/Rectangle\ 7.png');
}

.box-5{
    grid-column: 10 / -1;
    background-image: url('Images/Rectangle\ 9.png');
} 
.box-6{
    grid-column: 1 / 5;
    background-image: url('Images/Rectangle\ 11.png');
}
.box-7{
    grid-column: 5 / -1;
    background-image: url('Images/Rectangle\ 10.png');
}


.footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 130px; 
    padding: 80px 250px;
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-img{
    display: flex;
    justify-content: center;
    gap: 20px;
}



 @media screen and (max-width:600px) {
    header, main{
        padding: 20px;
    }
    .banner-container{
        padding: 20px;
    }
  .banner-title, .popular-title{
        font-size: 1.3rem;
    } 
    
    nav, .banner-search-bar, form,.popular{
        flex-direction: column;
    }

    input{
        width: 85%;
    }
    select, .btn-primary{
        width: 100%;
    }
    #btn-2{
        width: fit-content;
    }
    .destination-gallary{
        display: grid;}
       
    .box{
        grid-column: 1fr;
    }
    .popular-img img{
       margin-right: 50px;
    }
 }